#wrapper {
	width: 80%;
	margin: 10px auto;

}

body {
	background-image: url("../images/topography.png");
	text-align: center;
	
}

h3 {
	font: 25px Aerial, sans-serif;
	color: #111D13;
	line-height: 150%;
}

h2 {
	line-height: 150%;
	padding: 10px;
}

#panels {
	background: rgba(247, 217, 140, 0.3);
}

.panel > .panel-heading {
    background-color: #989B7D;
    border: 0;
}


.panel-info > .panel-body {
    background-color: #C3DEC5;
    border: 0;
    font: 20px Aerial, sans-serif;
	color: #111D13;
	
}

.panel {
    border: 0;
}

.btn {
background-color: #415D43;
border: 0;
}


#page1 {
	display: block;
	margin-top: 15%;
}

#page2 {
	display: none;
}

#page3 {
	display: none;
	margin-top: 15%;
}
